body {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

body {
  font: 18px sans-serif;
  color: white;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: url("bg.jpg") no-repeat center;
  background-size: cover;

  animation: backgroundZoomAnimate 20s infinite alternate forwards;
}
@keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

.profil-card {
  /* box-shadow: border bayangan kontras tebal kontras warna; */
  box-shadow: 0 18px 200px -60px black;
  border-radius: 50px;
  width: 650px;
  position: relative;
  backdrop-filter: blur(15px);
  border: 2px solid grey;

  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

img {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  box-shadow: 0 10px 60px -10px gray;
}

.profil-card-des {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.profil-card-des > span {
  font-size: 14px;
  opacity: 0.7;
}

.profil-card-info {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.profil-card-info > div {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.profil-card-info > div > .first {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.profil-card-info > div > .second {
  font-size: 14px;
  opacity: 0.7;
}

.profil-card-sosial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.profil-card-sosial a {
  display: inline-flex;
  width: 55px;
  height: 55px;
  border-radius: 40%;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s;
}

.twitter {
  background: linear-gradient(45deg, rgb(8, 64, 110), rgb(90, 130, 224));
  box-shadow: 0 1px 40px rgb(8, 64, 110);
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  animation: twitteranimation ease-in 5s 2s 4 alternate;
}

.twitter:hover {
  transform: scale(1.1);
}

.wa {
  background: linear-gradient(45deg, rgb(8, 110, 66), rgb(90, 224, 193));
  box-shadow: 0 1px 40px rgb(8, 110, 66);
  animation: waanimation ease-in 3s 19s infinite alternate;
}

.wa:hover {
  transform: scale(1.1);
}

.github {
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(146, 150, 159));
  box-shadow: 0 1px 40px rgb(0, 0, 0);
  animation: githubanimation ease-in 5s 2s 4 alternate;
}

.github:hover {
  transform: scale(1.1);
}

@keyframes twitteranimation {
  from {
    left: 0px;
  }
  to {
    left: 220px;
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(146, 150, 159));
    box-shadow: 0 1px 40px rgb(0, 0, 0);
  }
}
@keyframes waanimation {
  from {
    top: 0px;
  }
  to {
    top: 20px;
  }
}
@keyframes githubanimation {
  from {
    left: 0px;
  }
  to {
    left: -220px;
    background: linear-gradient(45deg, rgb(8, 64, 110), rgb(90, 130, 224));
    box-shadow: 0 1px 40px rgb(8, 64, 110);
  }
}

@media screen and (max-width: 576px) {
  .profile-card {
    width: auto;
  }
}
